<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="container">
  <div>
    <div class="mobile-close">
      <div>
        <i class="material-icons">keyboard_arrow_left</i>
        Message Center
      </div>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="tittle-container">
    <mat-card-title>Invite To Collaborate</mat-card-title>
    <mat-icon class="button-close">close</mat-icon>
  </div>
  <mat-card-subtitle>Lorem Ipsum is simple dummy text of the printing and typesetting industry</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="createUserForm">
      <mat-tab-group mat-align-tabs="center" color="warn">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Invite User
          </ng-template>
          <div class="tab-content">
            <div class="form-group">
              <div class="label">Name</div>
              <input id="name" type="text" formControlName="name">
            </div>
            <div class="form-group">
              <div class="label">Email</div>
              <input id="email" type="email" formControlName="email">
            </div>
          </div>
          <div class="text-area-group">
            <div class="label">Your message</div>
            <textarea name="message" id="message" cols="14" rows="4"
                      placeholder="Customize your checking invite"
                      formControlName="message"
            ></textarea>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>storefront</mat-icon>
            Invite a Vendor
          </ng-template>
          <div class="tab-content">Content 2</div>
        </mat-tab>
      </mat-tab-group>
      <div class="checkbox-title">Vendor name</div>
      <div class="checkbox-container">
        <hr>
        <div class="checkbox-group">
          <mat-checkbox formControlName="checklist1">Checklist</mat-checkbox>
          <mat-select disableOptionCentering [disabled]="!createUserForm.controls.checklist1.value" formControlName="checkbox1"
                      panelClass="myPanelClass">
            <mat-option *ngFor="let item of values" [value]="item.value">{{  item.label }}</mat-option>
          </mat-select>
        </div>
        <hr>
        <div class="checkbox-group">
          <mat-checkbox formControlName="budget">Budget</mat-checkbox>
          <mat-select disableOptionCentering [disabled]="!createUserForm.controls.budget.value" formControlName="checkbox2"
                      panelClass="myPanelClass">
            <mat-option *ngFor="let item of values" [value]="item.value">{{  item.label }}</mat-option>
          </mat-select>
        </div>
        <hr>
        <div class="checkbox-group">
          <mat-checkbox formControlName="checklist2">Guest List</mat-checkbox>
          <mat-select disableOptionCentering [disabled]="!createUserForm.controls.checklist2.value" formControlName="checkbox3"
                      panelClass="myPanelClass">
            <mat-option *ngFor="let item of values" [value]="item.value">{{  item.label }}</mat-option>
          </mat-select>
        </div>
        <hr>
      </div>
    </form>
  </mat-card-content>
  <hr class="footer-divider">
  <mat-card-footer>
    <div class="card-actions">
      <button (click)="onReset(createUserForm)">Cancel</button>
      <button class="button-proceed" (click)="onSubmit(createUserForm)" [disabled]="!createUserForm.valid">Invite</button>
    </div>
  </mat-card-footer>
</mat-card>

